
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FFF4E7;
    margin-bottom: 40px;
}

.header-title h1 {
    font-size: 35px;
    font-weight: 800;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title li {
    list-style: none;
    margin-right: 20px;
    font-size: 16px;
}

.nav-title a {
    text-decoration: none;
}

.header-section {
    text-align: center;
}

.header-section h1{
    font-size: 40px;
    font-weight: 800;
}

.header-section p {
    font-size: 16px;
    line-height: 25px;
}

.btn {
    padding: 12px 15px;
    background-color: #FF900E;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.header-img img{
    width: 80%;
    margin-bottom: 20px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.team-content {
    padding-right: 70px;
    padding-left: 70px;
}

.team-content h1 {
    font-size: 40px;
    font-weight: 700;
}

.team-content strong {
    color: #D9D9D9;
} 

.team-content span {
    color: #FF900E;
}

.team-content p {
    line-height: 25px;
}


.features {
    display: flex;
    margin-top: 150px;
    margin-left:50px;
    margin-right: 50px;   
    margin-bottom: 150px;
}

.features-main {
    padding-right: 100px;

}

.features-main h1 {
    font-size: 30px;
    font-weight: 800;
}

.features-main p {
    color: gray;
}

.features-title {
    /* background-color: aqua; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.features-image {
    position: relative;
}

.features-demo {
    background-color:#FF900E;
    height: 80px;
    width: 200px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    padding: 25px 10px;
    position: absolute;
    bottom: -50px;
    left: -70px;
    border-radius: 10px;
    /* top: 250px; */
}

.features-image img {
    /* width: 100%; */
}



/* mobile devices */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .team-container {
        flex-direction: column;
        margin-left: 0px;
    }

    .team-image {
        grid-template-columns: repeat(1,1fr);
    }

    .features {
        margin-top: 0px;
        margin-left: 20px;
        margin-right: -80px;
        flex-direction: column;
}

.features-image img {
    width: 100%;
}

.features-demo {
    bottom: -60px;
    left: 75px;
}
    
}

/* tablet devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .team-container {
        flex-direction: column;
    }

    .features {
        flex-direction: column;
    }

}

